* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.8px;
}

body {
    font-family: Arial;
}

a {
    cursor: url(../img/cursor.cur), default;
}

.wrapper {
    margin: 0 auto;
    max-width: 973rem;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 10rem;
}

.flex-around {
    display: flex;
    justify-content: space-between;
}

.white_container {
    background-color: #f3f3f3;
}

.container {
    background-color: white;
}

.topline {
    display: flex;
    align-items: center;
    column-gap: 10rem;
}

.top {
    padding: 15rem 15rem 10rem 15rem;
    display: flex;
    align-items: center;
}

.top p {
    margin: 0;
}

.top a {
    font-size: 14rem;
    color: #5a5a5a;
    text-decoration: none;
}

.top .h1>a {
    font-size: 24rem;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
}

.text {
    max-height: 50rem;
}

.toplist ul {
    list-style: none;
    column-gap: 25rem;
}

.toplist a {
    column-gap: 10rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14rem;
    color: #5a5a5a;
    font-weight: bold;
    transition: all 1s ease;
}

.toplist a:hover {
    color: #39930d;
}

main {
    padding: 0rem 15rem 0rem 15rem;
}

.main img {
    width: 100%;
    object-fit: cover;
    min-height: 200rem;
    object-position: 80%;
}

.mains img {
    width: 100%;
    display: flex;
    align-items: center;
}

.mains {
    display: grid;
    column-gap: 10rem;
    padding-top: 5rem;
    grid-template-columns: repeat(2, 1fr);
}

.mains div {
    min-width: 24%;
}

.nav {
    width: 100%;
    max-height: 400rem;
}

.info {
    column-gap: 18rem;
    padding-top: 31rem;
    padding-bottom: 32rem;
}

.info ul {
    list-style: none;
    padding-left: 20rem;
    padding-top: 15rem;
}

.nav p {
    font-size: 18rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    background-color: #39930d;
    padding: 13rem 19rem;
    margin-left: 0rem;
}

.info li {
    padding-bottom: 20rem;
}

.info a {
    font-size: 14rem;
    line-height: 0.5em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
    transition: all 1s ease;
}

.info a:hover {
    color: #39930d;
}

.about h1 {
    font-size: 25rem;
    color: #39930d;
    font-weight: bold;
    padding-bottom: 15rem;
}

.about p {
    font-size: 15rem;
    line-height: 1.4em;
    color: #343434;
    padding-bottom: 15rem;
}

footer {
    padding: 15rem 0;
    background-color: #38930c;
}

.line {
    padding: 0 15rem;
}

footer p {
    font-size: 14rem;
    color: #ffffff;
}

.image {
    column-gap: 9rem;
    max-height: 20rem;
}

@media screen and (min-width: 550px) {
    .mains {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 0.9px;
    }
}

@media screen and (min-width: 846px) {
    .about {
        width: 65%;
    }

    .nav {
        max-width: 300rem;
        max-height: 400rem;
    }
}

@media screen and (min-width:1440px) {
    html {
        font-size: 1px;
    }
}

@media screen and (min-width:1920px) {
    html {
        font-size: 1.4px;
    }
}